@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}
:root {
  overflow-x: hidden;
}

body {
  @apply bg-black text-white;

  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
}

.custom-btn {
  @apply backdrop-blur-xl border border-white/20 px-3 py-2 rounded-md hover:bg-slate-950/30;
}

h1 {
  @apply text-2xl md:text-3xl  font-medium;
}

section {
  @apply w-full min-h-screen;
}

.aqua__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #6ef5ff 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #b076f3 0%, #ff4bfc 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.invert-img {
  filter: invert(1);
}

.custom-tech-logo {
  @apply w-[60px] h-[60px] z-50 absolute;
}
